* {
	border: 1px solid red;
}

* {
	box-sizing: border-box;
}

header {
	background-color: black;
	font: "Josefin sans", comic sans;
}

header > h1 {
	color: white;
	text-align: center;
}

header > h2 {
	color: white;
	text-align: center;
}

header > nav > button {
	align: center;
}

main {
	background-color: black;
	color: white;
}

.skulls {
	margin: 10px;
	padding: 10px;
	border: 5 px solid white;

}

aside {
	float: right;

}